<html><title>Create Restaruant Form</title>

<body>
	<form id='details' method='POST' action='/create' enctype="multipart/form-data">
		Restaurant_id: <input type="text" name="restaurant_id" required><br> 		
		Name: <input type="text" name="name" required><br>
		Borough: <input type="text" name="borough"><br>
		Cuisine: <input type="text" name="cuisine"><br>

		Photo upload: <input type="file" name="filetoupload"><br>
		
		Address:<br>
		Building: <input type="text" name="building"><br>
		Street: <input type="text" name="street"><br>
		Zipcode: <input type="text" name="zipcode"><br>
		Coord: <input type="text" name="coordx">, <input type="text" name="coordy"><br>
		Grades:<br>
		User: <input type="text" name="user"><br>
		score: <input type="text" name="score"><br>
		
		<input type="submit" value="Create"/>
	</form>
<script>
	function goBack() {window.history.back();}
</script>
<button onclick="goBack()">Go Back</button>

</body>
</html>
