<html><title>Create Restaruant Form</title>

<body>
	<form id='details' method='GET' action='/create'>
		Restaurant_id: <input type="text" name="restaurant_id"><br> 		
		Name: <input type="text" name="name"><br>
		Borough: <input type="text" name="borough"><br>
		Cuisine: <input type="text" name="cuisine"><br>
		Address:<br>
		Building: <input type="text" name="building"><br>
		Street: <input type="text" name="street"><br>
		Zipcode: <input type="text" name="zipcode"><br>
		Coord: <input type="text" name="coord"><br>
		Grades:<br>
		User: <input type="text" name="user"><br>
		score: <input type="text" name="score"><br>
		owner: <input type="text" name="owner"><br>
		
		<input type="submit" value="Create"/>
	</form>
<script>
	function goBack() {window.history.back();}
</script>
<button onclick="goBack()">Go Back</button>

</body>
</html>
