<html>
	<title>InsertStatus</title>
<body>

	<p><%= restaruantData %></p><br>
	<p>Insert Successful!</p>
	
<form action="/index">
    <input type="submit" value="Back to index"/>
</form>

</body>
</html>
