<html>
    <head>
	<title>Login Form</title>
    </head>
    <body>
        <form action="http://localhost:8099/index" method="get">
		Your Name: <input type="text" name="name"><br>
		Your Password: <input type="text" name="password"><br>
		<input type="submit" value="Submit">
	</form>
    </body>
</html>
