<html>

<head>
    <title>Login Form</title>
</head>

<body>
    <h1>Login Form</h1>
    <form action="/login" method="post">
        Your Userid: <input type="text" name="userid"><br>
        Your Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
        <input type="button" onclick="location.href='/register';" value="Go to register" />
    </form>
</body>

</html>