<html><title>Rate Restaruant Form</title>

<body>
	<h3>Update Form</h3>
	<form id='details' method='POST' action='/rate'>
		<input type="hidden" name="_id" value="<%=_id%>">		
		score(0 - 10) : <input type="number" min="1" max="10" name="score" required><br>
		
		<input type="submit" value="Rate"/>
	</form>
<script>
	function goBack() {window.history.back();}
</script>
<button onclick="goBack()">Go Back</button>


</body>
</html>
