<html>

<body>
    <form action='/search' method='POST'enctype="multipart/form-data">
		Restaurant_id: <input type="text" name="restaurant_id"><br> 		
		Name: <input type="text" name="name"><br>
		Borough: <input type="text" name="borough"><br>
		Cuisine: <input type="text" name="cuisine"><br>		
		Address:<br>
		Building: <input type="text" name="building"><br>
		Street: <input type="text" name="street"><br>
		Zipcode: <input type="text" name="zipcode"><br>
		Coord: <input type="text" name="coordx">, <input type="text" name="coordy"><br>
		Grades:<br>
		User: <input type="text" name="user"><br>
		score: <input type="text" name="score"><br>
		
		<input type="submit" value="Search"/>
	</form>
<script>
	function goBack() {window.history.back();}
</script>
<button onclick="goBack()">Go Back</button>

</body>
</html>
